//-<Шрифты по умолчанию>=================================================
$font-family: "lato400";
//-</Шрифты по умолчанию>================================================

//-<ПЕРЕМЕННЫЕ>==================================================================
$maxWidth: 1440;
$minWidth: 320;
$maxWidthContainer: 1480;
//-<ПЕРЕМЕННЫЕ>==================================================================

//-<BREAKPOINTS>-================================================================
$md1: 991.98+px;
$md2: 767.98+px;
$md3: 479.98+px;
//-</BREAKPOINTS>-=============================================================================

//<Custom BREAKPOINTS>====================================================================================================================================

//</Custom BREAKPOINTS>====================================================================================================================================

//==Color================================================================================
$BLACK: #000000;
$WHITE: #FFFFFF;
$VIOLET: #9C27B0;
$BLUE: #651FFF;
$GOLD: #D6BD96;
$GREY: #0000008A;