//-<Шрифты по умолчанию>=================================================
$font-family: "lato400";
//-</Шрифты по умолчанию>================================================

//-<ПЕРЕМЕННЫЕ>==================================================================
$maxWidth: 1440;
$minWidth: 320;
$maxWidthContainer: 1480;
//-<ПЕРЕМЕННЫЕ>==================================================================

//-<BREAKPOINTS>-================================================================
$md1: 991.98+px;
$md2: 767.98+px;
$md3: 479.98+px;
//-</BREAKPOINTS>-=============================================================================

//<Custom BREAKPOINTS>====================================================================================================================================

//</Custom BREAKPOINTS>====================================================================================================================================

//==Color================================================================================

//--light theme---
$BLACK: #000000;
$WHITE: #FFFFFF;
$VIOLET: #9C27B0;
$GOLD: #D6BD96;
$BLUE: #651FFF;
$GREY: #0000008A;
$VIO-BLUE-GRAD: linear-gradient(141.51deg, #9C27B0 -18.34%, #651FFF 66.03%);
$PurpleNav: #D1C4E9;

//--dark theme---
$PurpleNav_dark: #311B92;