//<Обнуление файлов / импорт переменных>====================================================================================================================================
@import "_nullStyle";
@import "_variables";
@import "_fonts";
//<Обнуление файлов / импорт переменных>====================================================================================================================================

//-<Подключаем файлы стилей>==============================================================
@import "_header";
@import "_rewards";
@import "_experience";
@import "_work-section";
@import "_certificates";
@import "_footer";
@import "_form";
@import "_UI";
@import "_404page";
@import "_settings-popup";
//-</Подключаем файлы стилей>==============================================================

//<Подключаем шрифты>=================================================================================================
//--&display=swap - оптимизация латиницы
//--&subset=cyrillic-ext - оптимизация кирилици
//@import "fonts"; //ипорт локально
//@import url() - импорт ссылкой
//</Подключаем шрифты>=================================================================================================

//-<Иконочные шрифты>-==============================================================
//@import ""; //скомпилированный фал был добавлен в папку после скачивания и удаления лишего
//-</Иконочные шрифты>-==============================================================

//-<Обнуление общиих параметров>-===================================================
html {
     scroll-behavior: smooth;
}

body {
     font-family: $font-family;
     color: #000;
     font-size: 14px;


     &._lock {
          overflow: hidden;
     }

     &.dark {
          background-color: #303030;
          ;
     }
}

//-<Обнуление общих параметров>-===================================================

//<Wrapper и Ограничивающий контейнер>-========================================================================
.wrapper {
     display: flex;
     flex-direction: column;
     min-height: 100%;
     width: 100%;
}

//---------------------------------------
._container {
     position: relative;
     max-width: $maxWidthContainer + px;
     margin: 0 auto;
     overflow: hidden;

     @media (min-width: $md2) {
          padding: 0 20px;
     }
}

//</Wrapper и Ограничивающий контейнер>========================================================================


//-<Основная сетка>==================================================================
.page {}

.tooltip {
     position: absolute;
     z-index: 2;
     right: -135px;
     top: 50%;
     transform: translateY(-50%);

     height: 44px;
     width: 119px;
     padding: 10px 0;

     background: rgba(0, 0, 0, 0.5);
     border-radius: 8px;
     text-align: center;
     cursor: pointer;


     font-weight: 900;
     font-size: 14px;
     line-height: 24px;
     color: #FFFFFF !important;

     &::before {
          content: "";
          display: inline-block;

          position: absolute;
          left: -24px;
          top: 50%;
          transform: translateY(-50%);

          width: 0;
          height: 0;

          border-style: solid;
          border-width: 20.5px 0 20.5px 24px;
          border-color: transparent;
     }
}

//-<Основная сетка>==================================================================